spring.datasource.url=jdbc:mysql://${JEGY_MYSQL_DB_HOST}:${JEGY_MYSQL_DB_PORT}/${JEGY_MYSQL_DB_SCHEMA}
spring.datasource.username=${JEGY_MYSQL_DB_USERNAME}
spring.datasource.password=${JEGY_MYSQL_DB_PASSWORD}application.properties